/* Background das telas */
.content-wrapper {
    background-color: #000 !important; /* Claro: #f4f6f9 */
    /*background-image: url(../../../img/fundo-login.jpg) !important;*/
    min-height: 100vh !important;
}
div.os-content {
    background: transparent !important;
}
div.card-body {
    background-color: rgba(245, 245, 245, 1) !important;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
div.card {
    background-color: rgba(245, 245, 245, 1) !important;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0);
}
body.pagina-vagas div.card-header{
    background-color: rgba(100, 100, 250, 1) !important;
    color: white !important;
}
body.pagina-vagas div.card-body {
    background-color: rgba(0, 0, 0, 1) !important;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    min-height: 77vh !important;
}
    body.pagina-vagas div.card{
        background-color: rgba(0, 0, 0, 1) !important;
    }

/* Cards de informações diárias/totais nas telas de Dashboard */
.small-box > .inner {
    min-height: 8.3rem !important;
    max-height: 8.3rem !important;
}