body.dados-diarios div.card-body {
    background-color: #fff !important;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}
body.dados-diarios div.card.text-success {
    max-width: 50% !important;
}